BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Empty
SpaceBeforeParens: ControlStatements
SpaceBeforeAssignmentOperators: true
SpacesInParentheses: false
SpacesInAngles: false
SpaceAfterCStyleCast: true
BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: Align
AlignOperands: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
PointerAlignment: Left
SortIncludes: false
IncludeBlocks: Preserve
NamespaceIndentation: All
ReflowComments: false
AlignTrailingComments: true
KeepEmptyLinesAtTheStartOfBlocks: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true
BreakConstructorInitializers: AfterColon
AlwaysBreakTemplateDeclarations: Yes
Cpp11BracedListStyle: true
AllowShortIfStatementsOnASingleLine: Never
