CompileFlags:
  Add:
    - -isystem
    - /opt/homebrew/Cellar/qtbase/6.9.3_1/lib/QtCore.framework/Headers
    - -isystem
    - /opt/homebrew/Cellar/qtbase/6.9.3_1/lib/QtWidgets.framework/Headers
    - -iframework
    - /opt/homebrew/Cellar/qtbase/6.9.3_1/lib
    - -I
    - dist/byyl_autogen/include
    - -I
    - build-macos/byyl_autogen/include
    - -std=c++17
Index:
  Background: Build
